# Fichier .gitignore pour permettre d'exclure des fichiers et des répertoire de l'index Git
 
env/*
__pycache__/*
__init__.py
data/*
log/*
prj_01/Config.ini
*.bak
*.orig

*/lib/__pycache__/*
*/.idea/*
